.bg-light {
  padding: 5rem;
  background-color: #24d08a;
}

.mainContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24d08a;
}

.col-md-8 {
  flex: 0 0 auto;
  width: 55.666667%;
}

.col-md-6 {
  margin-bottom: 2rem;
}

.main {
  padding: 10px;
  background-color: #fff;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  margin-bottom: 10px;
}

.cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}

.form {
  margin-right: 2rem;
}

.btn-primary {
  color: #fff;
  background-color: #24d08a;
  border-color: #24d08a;
  --bs-btn-color: #fff;
  --bs-btn-bg: #24d08a;
  --bs-btn-border-color: #24d08a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2baf7a;
  --bs-btn-hover-border-color: #24d08a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #24d08a;
  --bs-btn-active-border-color: #24d08a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #24d08a;
  --bs-btn-disabled-border-color: #24d08a;
}

.btn-cadastrar {
  color: #24d08a;
  background-color: #fff;
  border-color: #24d08a;
  --bs-btn-color: #fff;
  --bs-btn-bg: #24d08a;
  --bs-btn-border-color: #24d08a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2baf7a;
  --bs-btn-hover-border-color: #24d08a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #24d08a;
  --bs-btn-active-border-color: #24d08a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #24d08a;
  --bs-btn-disabled-border-color: #24d08a;
}

.btn-outline-primary {
  color: #198731;
  background-color: #ffffff;
  border-color: #198754;
  --bs-btn-color: #fff;
  --bs-btn-bg: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
}

.table-bg{
  text-align: center;
  background: rgba(141, 139, 139, 0.3) ;
}

.fundo{
  margin-bottom: 10px;
}

.title{
  text-align: center;
}