.bg-light {
  padding: 5rem;
  background-color: #503a85;
}

.fundo-bd-cad {
  margin: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  background-color: #3f3a85;
  margin-top: 7rem;
}

.fundo-bd-login {
  margin: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  background-color: #3f3a85;
  margin-top: 7rem;
}

.fundo-bd {
  margin: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  background-color: #503a85;
}

.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.main {
  padding: 0, 625rem;
  background-color: #f2eaff;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.678);
  margin-bottom: 0, 625rem;
}

.main-list {
  padding: 1rem;
  background-color: #f2eaff;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.678);
}

.mainLogin {
  margin-top: 1rem;
}

.main-editar {
  padding: 1rem;
  background-color: #f2eaff;
  border-radius: 2rem;
  box-shadow: 5px 5px 12px rgb(0 0 0 / 68%);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  /* margin-top: 8rem;  */
}

.ContainerAdmin {
  padding: 2rem;
  background-color: #f2eaff;
  border-radius: 2rem;
  box-shadow: 5px 5px 12px rgb(0 0 0 / 68%);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%;
}

.ContainerLogin {
  padding: 2rem;
  background-color: #f2eaff;
  border-radius: 2rem;
  box-shadow: 5px 5px 12px rgb(0 0 0 / 68%);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%
}

.col-md-8 {
  flex: 0 0 auto;
  width: 55.666667%;
}

.mb-2 {
  margin-bottom: -3rem !important;
}

.my-4 {
  margin-top: -0.5rem !important;
  margin-bottom: 1.5rem !important;
  margin-left: 1rem;
  width: 96%;
}

.col-6 {
  margin-bottom: 1rem;
}

.col-11 {
  margin-bottom: 1rem;
}

.col-12 {
  margin-bottom: 1rem;
}

.col-10 {
  margin-bottom: 1.5rem;
}

.cadastro-img {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: auto;
  margin-bottom: 1rem;
}

.img-login {
  display: flex;
  margin: 0px 0px -19px 150px;
  width: 15%;
  justify-items: center;
  align-items: center;
  justify-content: center
}

.admin-img {
  display: flex;
  margin: 0px 0px -15px 110px;
  width: 10%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.editar-img {
  display: flex;
  margin: 0px 0px -15px 110px;
  width: 10%;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.mainlogin {
  margin: 6rem 2rem 6rem 2rem;
  justify-content: center;
  align-items: center;
}

.form {
  margin-right: 2rem;
}

.table-bg {
  text-align: center;
  background: rgba(141, 139, 139, 0.3);
}

.fundo {
  margin-bottom: 10px;
}

.btn-config {
  color: #f2eaff;
}

.btn-login {
  text-align: center;
  /* justify-content: center; */
  align-items: center;
}

.form-login {
  margin: 3rem 2rem 0rem 2rem;
}

.title-login {
  color: #000000;
  text-align: center;
  margin: 50px 0px 50px 0px;
}

.title {
  text-align: center;
  color: #503a85
}

.title-cad {
  margin: 10px 1px 50px 1px;
}

.btn-senha {
  margin-bottom: 0.5rem;
}

.btn-cadAdmin {
  margin: 0px 0px 20px 0px;
}