.bg-light {
  padding: 5rem;
  background-color: #24d08a;
}

.fundo-bd {
  margin: 50px 0px 0px 0px;
  display: flex;
  align-items: center;
  background-color: #24d08a;
}

.mainContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
}

.main {
  padding: 0, 625rem;
  background-color: #fff;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.678);
  margin-bottom: 0, 625rem;
  /* margin-top: 7rem; */
}

.main-list {
  padding: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.678);
}

.main-editar {
  padding: 1rem;
  background-color: #fff;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  box-shadow: 5px 5px 12px rgb(0 0 0 / 68%);
  /* margin-top: 8rem;  */
}

.col-md-8 {
  flex: 0 0 auto;
  width: 55.666667%;
}

.col-md-6 {
  margin-bottom: 2rem;
}

.cadastro-img {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: auto;
  margin-bottom: 1rem;
}

.form {
  margin-right: 2rem;
}

/* .btn-primary {
  color: #fff;
  background-color: #24d08a;
  border-color: #24d08a;
  --bs-btn-color: #fff;
  --bs-btn-bg: #24d08a;
  --bs-btn-border-color: #24d08a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2baf7a;
  --bs-btn-hover-border-color: #24d08a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #24d08a;
  --bs-btn-active-border-color: #24d08a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #24d08a;
  --bs-btn-disabled-border-color: #24d08a;
} */

/* .btn-cadastrar {
  color: #24d08a;
  background-color: #fff;
  border-color: #24d08a;
  --bs-btn-color: #fff;
  --bs-btn-bg: #24d08a;
  --bs-btn-border-color: #24d08a;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #2baf7a;
  --bs-btn-hover-border-color: #24d08a;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #24d08a;
  --bs-btn-active-border-color: #24d08a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #24d08a;
  --bs-btn-disabled-border-color: #24d08a;
}

.btn-outline-primary {
  color: #198731;
  background-color: #ffffff;
  border-color: #198754;
  --bs-btn-color: #fff;
  --bs-btn-bg: #198754;
  --bs-btn-border-color: #198754;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #198754;
  --bs-btn-hover-border-color: #198754;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #198754;
  --bs-btn-active-border-color: #198754;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #198754;
  --bs-btn-disabled-border-color: #198754;
} */

.table-bg {
  text-align: center;
  background: rgba(141, 139, 139, 0.3);
}

.fundo {
  margin-bottom: 10px;
}

.title {
  text-align: center;
}